@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-selectField: selectField 0.2s ease-in;
  --animate-deselectField: deselectField 0.5s ease-out;

  @keyframes selectField {
    0% {
      transform: scale(2);
      opacity: 0;
    }
    95%,
    100% {
      transform: scale(1);
      opacity: 100;
    }
  }

  @keyframes deselectField {
    0% {
      transform: scale(1);
      opacity: 100;
      background-color: var(--color-green-300);
    }
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
      background-color: var(--color-green-300);
    }
  }
}
